* {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #202020;
}

@media screen and (min-width: 1600px) {
  #app {
    display: grid;
    place-content: center;
    height: 100vh;
  }
}

@media screen and (min-width: 1224px) {
  #app {
    display: grid;
    height: 100vh;
  }
}
